<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h1>Demande de {{ contact.email }}</h1>

    <p>Email : {{ contact.email }}</p>
    <p>Sujet : {{ contact.subject }}</p>
    <p>Message : {{ contact.message }}</p>
</body>
</html>
